@tailwind base;
@tailwind components;
@tailwind utilities;
/* .t {
    @apply border-2 border-gray-500 rounded-lg sm:border-black active:bg-gray-700 hover:sm:border-gray-500;
} */

@import '@fontsource-variable/jetbrains-mono';

@layer base {
    body {
        background-color: black;
        color: white;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}