.fadeAway {
    animation: fadeOut 7s forwards; /* Adjust duration as needed */
}
.fadeToLow {
    background: linear-gradient(to left, transparent 0%, white 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.font {
    font-family: 'JetBrains Mono Variable', monospace;
    font-size: 1.1rem;
    font-weight: 500;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
  