.fadeAway {
    animation: fadeOut 7s forwards;
    /* Adjust duration as needed */
}

.fadeToLow {
    background: linear-gradient(to left, transparent 0%, white 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.font {
    font-family: 'JetBrains Mono Variable', monospace;
    font-size: 0.8rem;
    font-weight: 600;
}

.fontT {
    font-family: 'JetBrains Mono Variable', monospace;
    font-size: 0.6rem;
    font-weight: 400;
}

@media screen and (min-width: 550px) {
    .font {
        font-size: 0.9rem;
    }

    .fontT {
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 800px) {
    .font {
        font-size: 1.1rem;
    }

    .fontT {
        font-size: 0.9rem;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        visibility: hidden;
    }
}

.fadeAway {
    opacity: 1;
    animation: fadeOut 6s ease-out forwards;
    animation-delay: 0s;
}